table {
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0;
}

.dc-dark-chat {
  background-color: #36393F;
}

.dc-dark-members {
  background-color: #2F3136;
}
