<div class="p-3">

  <label class="custom-file-upload mb-2">
    <input type="file" (change)="onFileChangeHSV($event)"/>
    <fa-icon [icon]="faIcons.faUpload" class="me-2"></fa-icon>
    <span>Start from HSV file</span>
  </label>



  <div class="row">
    <!-- Before Cut Angle Judgement -->
    <div class="col-md-4">
      <table class="table table-striped table-hover">
        <thead>
          <th scope="col" style="width: 0px;">Threshold</th>
          <th scope="col" style="width: 0px;">Judgement</th>
        </thead>
        <tbody>
          <tr *ngFor="let judgement of hsv.beforeCutAngleJudgments">
            <td>{{judgement.threshold}}</td>
            <td class="text-nowrap">{{judgement.text}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- After Cut Angle Judgement -->
    <div class="col-md-4">
      <table class="table table-striped table-hover">
        <thead>
          <th scope="col" style="width: 0px;">Threshold</th>
          <th scope="col" style="width: 0px;">Judgement</th>
        </thead>
        <tbody>
          <tr *ngFor="let judgement of hsv.afterCutAngleJudgments">
            <td>{{judgement.threshold}}</td>
            <td class="text-nowrap">{{judgement.text}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Accuracy Judgement -->
    <div class="col-md-4">
      <table class="table table-striped table-hover">
        <thead>
          <th scope="col" style="width: 0px;">Threshold</th>
          <th scope="col" style="width: 0px;">Judgement</th>
        </thead>
        <tbody>
          <tr *ngFor="let judgement of hsv.accuracyJudgments">
            <td>{{judgement.threshold}}</td>
            <td class="text-nowrap">{{judgement.text}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!-- Table with HSV judgements and examples -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 0px;">Threshold</th>
        <th scope="col" style="width: 0px;">Color</th>
        <th scope="col" style="width: 0px;">Judgement</th>
        <th scope="col" style="width: 0px;">Example</th>
        <th scope="col" style="width: 0px;">High</th>
        <th scope="col" style="width: 0px;">Low</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let judgement of hsv.judgments">
        <td>{{judgement.threshold}}</td>
        <td class="text-nowrap">{{judgement.color}}</td>
        <td class="text-nowrap">{{judgement.text}}</td>
        <td class="text-nowrap hsv-text p-0 border-end" [innerHTML]="judgement.innerHTML_Example"></td>
        <td class="text-nowrap hsv-text p-0" [innerHTML]="judgement.innerHTML_High"></td>
        <td class="text-nowrap hsv-text p-0" [innerHTML]="judgement.innerHTML_Low"></td>
        <td></td>
      </tr>
    </tbody>
  </table>


  <!--
  Token	Explanation / Info
  %b	The score contributed by the swing before cutting the block. (0-70)
  %B  beforeCutAngleJudgments text matching the set threshold.

  %a	The score contributed by the part of the swing after cutting the block. (0-30)
  %A  afterCutAngleJudgments text matching the set threshold.

  %c	The score contributed by the accuracy of the cut. (0-15)
  %C  cutAccuracyJudgments text matching the set threshold.

  %t	The time dependence of the swing. This value indicates how depedent the accuracy part of the score is upon when you hit the block, measured from 0 - 1. A value of 0 indicates a completely time independent swing, while a value of 1 indicates that the accuracy part of the score would vary greatly if the block was hit even slightly earlier or later.
  %T  timeDependenceJudgments text matching the set threshold.

  %s	The total score of the cut.
  %%	A literal percent symbol.
  %n	A newline.
  -->

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 0px;">Token</th>
        <th scope="col">Explanation / Info</th>
      </tr>
    </thead>
    <tbody>
      <tr class="no-border-bottom no-padding-bottom striped">
        <td><code>%b</code></td>
        <td>The score contributed by the swing before cutting the block. (0-70)</td>
      </tr>
      <tr class="no-padding-top striped">
        <td><code>%B</code></td>
        <td><code>beforeCutAngleJudgments</code> text matching the set threshold.</td>
      </tr>
      <tr class="no-border-bottom no-padding-bottom">
        <td><code>%a</code></td>
        <td>The score contributed by the part of the swing after cutting the block. (0-30)</td>
      </tr>
      <tr class="no-padding-top">
        <td><code>%A</code></td>
        <td><code>afterCutAngleJudgments</code> text matching the set threshold.</td>
      </tr>
      <tr class="no-border-bottom no-padding-bottom striped">
        <td><code>%c</code></td>
        <td>The score contributed by the accuracy of the cut. (0-15)</td>
      </tr>
      <tr class="no-padding-top striped">
        <td><code>%C</code></td>
        <td><code>cutAccuracyJudgments</code> text matching the set threshold.</td>
      </tr>
      <tr class="no-border-bottom no-padding-bottom">
        <td><code>%t</code></td>
        <td>
          The time dependence of the swing. <br>
          This value indicates how depedent the accuracy part of the score is upon when you hit the block, measured from 0 - 1. <br>
          A value of 0 indicates a completely time independent swing, <br>
          while a value of 1 indicates that the accuracy part of the score would vary greatly if the block was hit even slightly earlier or later.
        </td>
      </tr>
      <tr class="no-padding-top">
        <td><code>%T</code></td>
        <td><code>timeDependenceJudgments</code> text matching the set threshold.</td>
      </tr>
      <tr class="striped">
        <td><code>%s</code></td>
        <td>The total score of the cut.</td>
      </tr>
      <tr>
        <td><code>%%</code></td>
        <td>A literal percent symbol.</td>
      </tr>
      <tr class="striped">
        <td><code>%n</code></td>
        <td>A newline.</td>
      </tr>
    </tbody>
  </table>

</div>
